.headerStyle {
  text-align: center
}

.authButton {
  position: absolute;
  right:10px;
  top:10px;
}

.clock {
  text-align: center;
}

.wi {
  display: table-cell;
  vertical-align: middle;
  font-size: 20em;
  height: 300px;
}
