html, body {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

.background {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/** Header **/
.headerStyle {
  text-align: center;
  margin-top: 0;
  color: white;
}

.headerParent {
  position: relative;
  height: 110px;
  width: 100%;
  background: black;
}

.compHeader {
  text-align: center;
}

/** quarkBody **/
.quarkBody {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  background-color: white;
}

/** Sign In/Up **/
.signInBlock {
  max-width: 500px;
  margin: auto;
  margin-top: 110px;
  position: relative;
}

.signUpBlock {
  max-width: 500px;
  margin: auto;
  margin-top: 110px;
  position: relative;
}

.authBtnGroup {
  padding: 15px;
}

/** Clock **/
.clock {
  text-align: left;
}

.clock h3 {
  font-size: 110px;
  color: white;
}

.clockBlock {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
}

/** Weather **/
.wi {
  height: 120px;
  margin-top: 4px;
}

.weatherWrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid;
  border-radius: 25px;
  padding: 20px;
}

.weatherLeft {
  flex: 0 0 40%;
}

.weatherRight{
  text-align: left;
  margin-top: -10px;
  margin-left: 10px;
}

.weatherBlock {
  text-align: center;
  position: relative;
  float: left;
  height: 140px;
  width: 100%;
  max-width: 400px;
  margin: 3.5%;
}

/** Buttons **/
.rightButton {
  position: absolute;
  right: 15px;
}

.leftButton {
  margin-left: 15px;
}

.weatherButton {
  margin: 50px;
  width: 160px;
  height: 60px;
  font-size: 24px;
}

.deleteBtn {
  background-color: rgba(232, 227, 227, 0.64) !important;
  color: black;
  border: none;
  border-radius: 50% !important;
}

.deleteBtn:hover {
  background-color: rgba(220, 220, 220, 0.66) !important;
  color: black;
}

.submitBtn {
  margin-right: 40px;
  width: 120px;
}
/** Dashboard **/
.dashBoardBody {
  /*background-size: cover;
  background-image: url('../src/images/background/corkboard4.jpg');
  background-repeat: no-repeat;
  position: relative;*/
  background: url('../src/images/background/corkboard4.jpg');
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
  height: 100%;
  width: 100%;
}

.fullscreen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.clockBlock {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.bottomBlock {
  height: 450px;
  width: 100%;
}


/** Notepad **/

.noteBlock {
  background-color: white;
  width: 30%;
  float: right;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: 0;
  right: 30px;
}

.noteList {
  max-height: 365px;
  overflow: auto;
  margin-bottom: 0px !important;
}

.noteHeaderBlock {
  position: relative;
  border-bottom: 1px solid #91e6db;
}

li.noteListItem {
  border: 0 none;
  border-top: 1px solid #91e6db !important;
  padding-left: 20px;
}

.addNote {
  padding: 0px 20px;
  height: 355px;
}

.noteShowBox {
  height: 360px;
}

.noteShowHead {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.noteShowTitle {
  text-align: left;
  padding-left: 40px;
  font-size: 28px;
}

.noteShowBtnGroup {
  margin-top: 15px;
  height: 30px;
}

.noteShowDate {
  text-align: right;
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 16px;
}

.noteShowContent {
  padding: 15px 40px;
  overflow: auto;
  max-height: 254px;
  font-size: 18px;
}

/** Goals **/
.goalList {
  max-height: 275px;
  overflow: auto;
  margin-bottom: 0px !important;
}

li.goalListItem {
  background-color: #FFFFA5 !important;
}

.addGoal {
  padding: 0px 20px;
  height: 310px;
}

.goalBlock {
  background-color: #FFFFA5;
  width: 26%;
  float: left;
  border: 1px solid;
  position: absolute;
  bottom: 0;
  left: 30px;
}

.goalBtn {
  width: 50%;
  height: 45px;
  background-color: #FFFFA5 !important;
  border: none !important;
}

.goalBtn:hover {
  background-color: rgba(215, 224, 154, 0.54) !important;
}

.goalBtnGroup {
  padding: 15px;
}

.goalParent {
  position: relative;
}

.weekRadio {
  padding: 5px 20px;
}
